{% extends "appbuilder/base.html" %}
{% block content %}


  


    <div class="timedash_iframe">
            <iframe
            width="1200"
            height="2400"
            seamless
            frameBorder="0"
            scrolling="no"
            src="https://report.quasarpm.com/superset/explore/?form_data=%7B%22datasource%22%3A%2262__table%22%2C%22viz_type%22%3A%22event_flow%22%2C%22slice_id%22%3A176%2C%22granularity_sqla%22%3A%22TransmDate%22%2C%22time_grain_sqla%22%3Anull%2C%22since%22%3A%22%22%2C%22until%22%3A%22now%22%2C%22entity%22%3A%22DocumentCode%22%2C%22all_columns_x%22%3A%22Step%22%2C%22row_limit%22%3A10000%2C%22order_by_entity%22%3Atrue%2C%22min_leaf_node_event_count%22%3A1%2C%22all_columns%22%3A%5B%22Response%22%2C%22Transmittal%22%2C%22Note%22%5D%2C%22where%22%3A%22%22%2C%22having%22%3A%22%22%2C%22filters%22%3A%5B%5D%2C%22url_params%22%3A%7B%7D%7D&standalone=true&height=2400"
          >
          </iframe>
    </div>



{% endblock %}