{% extends 'appbuilder/baselayout.html' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/mycss.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static',filename='css/dropzone.css')}}"></link>

    {% endblock %}

{% block head_js %}
    {{ super() }}
    <script src="{{url_for('static',filename='js/moment.js')}}"></script>
    <script src="{{url_for('static',filename='js/dropzone.js')}}"></script>


    {% endblock %}

    {% block body %}
    
    {{ super() }}
    
    {% endblock %}
    {% block navbar %}
         
            {{ super() }}
            
        {% endblock %}

        {% block content %}
         
            {{ super() }}
    
        {% endblock %}
    

{% block footer %}
    {{ super() }}
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    {% endblock %}
